@model Products_VM

@{
    ViewData["Title"] = "Supplier's Products";
}


<div class="container">
    <div class="breadcrumb">
        <span>Supplier > Products</span>
    </div>
</div>

<partial name="_ProductManagement" model="@Model" />
